/**
 * main.css - styles for game main entry page.
 */

/* page scaffolding */
html, body {
  height: 100%;
  width: 100%;
}

.header {
  display: none;
  height: 180px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 100%;
}

/* mines game scaffolding */
.mines-wrapper {
  bottom: 0;
  position: absolute;
  top: 50px;
  width: 100%;
}
.mines-outer {
  background: #ccc;
  height: 100%;
  width: 100%;
}
.mines-inner {
  height: 100%;
  width: 100%;
}

/* hex game tiles */
.tile {
  background-image: url("../image/sprite.png");
  background-position: -48px 0;
  height: 42px;
  position: absolute;
  width: 48px;
}

/* first row */
.tile.cursor {
  background-position: 0 0;
}
.tile.unexplored {
  background-position: -48px 0;
}
.tile.mine {
  background-position: -96px 0;
}
.tile.hit {
  background-position: -144px 0;
}

/* second row */
.tile.n0 {
  background-position: 0 -42px;
}
.tile.n1 {
  background-position: -48px -42px;
}
.tile.n2 {
  background-position: -96px -42px;
}
.tile.n3 {
  background-position: -144px -42px;
}

/* third row */
.tile.n4 {
  background-position: 0 -84px;
}
.tile.n5 {
  background-position: -48px -84px;
}
.tile.n6 {
  background-position: -96px -84px;
}
.tile.safe {
  background-position: -144px -84px;
}

